doctype html
html
  head  
    title {{ title }}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    link(rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/bootstrap.min.css')}}")
    link(rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/chosen.css')}}")
    link(rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/css.css')}}")        
  body
    block main      
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")       
    script(src="{{url_for('static', filename='js/js.js')|autoversion }}")
    script(src="{{url_for('static', filename='js/chosen.jquery.js')}}")    
         
   
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
      <!--Page built by Ryan Wiley and Brian Gratton -->
        
        
            
