{% import "bootstrap/wtf.html" as wtf %}

extends base
block main
  table.table
    tr
      th Name
      th Rules
    tr
    {% for element in table %}
    tr
      td {{element['name']}}
      td {{element['rules']}}
    tr
    {% endfor %}
  form(method="POST", role="form")
    {{wtf.quick_form(form, button_map={'save_to_csv':'primary pull-right','submit_to_dcm':'success pull-right'})}}
